:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgn(240, 240, 246);
  --cardBG: rgb(225, 225 235);
  --cardHover: rgb(255, 255, 255);
  --starColor: rgb(255, 204, 0);
  --pinColor: rgb(31, 147, 13);
}

.main {
  width: 100%;
}
.main .secTitle .title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin: 1rem 0;
  z-index: 2;
}
.main .secTitle .title::after {
  position: absolute;
  content: " ";
  background: var(--SecondaryColor);
  height: 0.25rem;
  width: 5.313rem;
  bottom: 0.125rem;
  left: 9.375rem;
  z-index: -1;
}
.main .secContent {
  justify-content: center;
  gap: 1.5rem;
}
.main .secContent .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.849);
  overflow: hidden;
}
.main .secContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 0 2px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.main .secContent .singleDestination .imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .secContent .singleDestination .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.main .secContent .singleDestination .imageDiv:hover img {
  transform: scale(1.1);
  transition: 2s ease;
}
.main .secContent .singleDestination .cardInfo {
  padding: 1rem;
  height: 100%;
}
.main .secContent .singleDestination .cardInfo .destInfo {
  color: var(--blackColor);
  font-size: 0.875rem;
}
.main .secContent .singleDestination .cardInfo .continent {
  gap: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.main .secContent .singleDestination .cardInfo .continent .price {
  color: var(--PrimaryColor);
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  right: 10px;
}
.main .secContent .singleDestination .cardInfo .pin-icon {
  color: var(--SecondaryColor);
  font-size: 18px;
}
.main .secContent .singleDestination .cardInfo .star-icon {
  color: var(--starColor);
  font-size: 18px;
}
.main .secContent .singleDestination .cardInfo .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.main .secContent .singleDestination .cardInfo .btn {
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  color: var(--whiteColor);
  background: rgb(178, 187, 196);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.2rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.main .secContent .singleDestination .cardInfo .btn a {
  color: var(--whiteColor);
  text-decoration: none;
}
.main .secContent .singleDestination .cardInfo .btn:hover {
  background: var(--PrimaryColor);
  color: white;
  transition-duration: 0.5s;
}
.main .secContent .singleDestination .cardInfo .icon {
  font-size: 1.25rem;
}
.main .secContent .singleDestination .culture {
  margin-top: 0.875rem;
  border-top: 1px solid var(--greyText);
  border-bottom: 1px solid var(--greyText);
}
.main .secContent .singleDestination .culture .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  color: var(--whiteColor);
  padding: 1px 10px;
  font-size: 10px;
}
.main .secContent .singleDestination .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}

/* Media Queries */
@media screen and (min-width: 320px) {
  .cardInfo {
    position: relative;
  }
  .destInfo,
  .pin-icon {
    margin-bottom: 6px;
  }
  .pin-icon {
    position: absolute;
    left: -20px;
  }
  .price {
    left: 1px;
    top: 19px;
    position: absolute;
    margin-top: 2px;
  }
  .star-icon {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .culture {
    margin-top: 2px;
    position: relative;
  }
  .secContent {
    grid-template-columns: repeat(1, 1fr);
  }
  .secContent .singleDestination {
    height: auto;
  }
}
@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 108px !important;
    left: 12rem !important;
  }
  .secContent {
    grid-template-columns: repeat(1, 1fr);
  }
  .secContent .singleDestination {
    height: auto;
  }
}
@media screen and (min-width: 650px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 108px !important;
    left: 12rem !important;
  }
  .secContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .secContent .singleDestination {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 108px !important;
    left: 12rem !important;
  }
  .secContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .secContent .singleDestination {
    height: auto;
  }
}
@media screen and (min-width: 1240px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after .title::after {
    width: 107px !important;
    left: 12rem !important;
  }
  .secContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .secContent .singleDestination {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */